# Dependency directories
node_modules/
dist/

# Environment files
.env
.env.example

# Build output
out.csv

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store

# Optional: IDE settings
.vscode/

# Ignore files starting with baseevent
baseevent*

# Documentation folder
docs/
